<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Modern_Exteriors_Characters_Scout_48x48_1-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{48,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_Exteriors_Characters_Scout_48x48_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{1,75},{48,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_Exteriors_Characters_Scout_48x48_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{1,667},{44,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_Exteriors_Characters_Scout_48x48_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{1,741},{44,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_Exteriors_Characters_Scout_48x48_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{1,149},{48,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_Exteriors_Characters_Scout_48x48_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{1,445},{44,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_Exteriors_Characters_Scout_48x48_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{1,519},{44,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_Exteriors_Characters_Scout_48x48_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{1,445},{44,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_Exteriors_Characters_Scout_48x48_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{1,223},{48,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_Exteriors_Characters_Scout_48x48_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{1,297},{48,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_Exteriors_Characters_Scout_48x48_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{1,371},{48,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_Exteriors_Characters_Scout_48x48_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{1,593},{44,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2.png</string>
            <key>size</key>
            <string>{50,814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36dae37c5f5e4aded289b79308eb50af:86cada547ef163ae9ac9476f039df455:623324867643c00c9de7ce2df641103a$</string>
            <key>textureFileName</key>
            <string>2.png</string>
        </dict>
    </dict>
</plist>
