<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Modern_UI_Style_1_32x32_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,40},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>Modern_UI_Style_1_32x32_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,32},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>Modern_UI_Style_1_32x32_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>Modern_UI_Style_1_32x32_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,62},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>SF 外面 B(B)_爱给网_aigei_com.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{36,46}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>SF 外面 B(B)_爱给网_aigei_com1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daka.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ba373d85eae94e9efb571d1083a7b2f$</string>
            <key>textureFileName</key>
            <string>daka.png</string>
        </dict>
    </dict>
</plist>
