<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievement1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{42,48}</string>
                <key>textureRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achievement2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{0,48},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>add1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{42,48}</string>
                <key>textureRect</key>
                <string>{{0,90},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>add2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{0,138},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>audio1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{42,48}</string>
                <key>textureRect</key>
                <string>{{0,180},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>audio2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{0,228},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{42,48}</string>
                <key>textureRect</key>
                <string>{{0,270},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{0,318},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>delet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,47}</string>
                <key>spriteSourceSize</key>
                <string>{42,47}</string>
                <key>textureRect</key>
                <string>{{0,360},{42,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>delet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{0,407},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{42,48}</string>
                <key>textureRect</key>
                <string>{{0,449},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{0,497},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{42,48}</string>
                <key>textureRect</key>
                <string>{{0,539},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{0,587},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>question1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{42,48}</string>
                <key>textureRect</key>
                <string>{{0,629},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>question2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{0,677},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{42,48}</string>
                <key>textureRect</key>
                <string>{{0,719},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{0,767},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slient1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{42,48}</string>
                <key>textureRect</key>
                <string>{{0,809},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slient2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{0,857},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trash1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{42,48}</string>
                <key>textureRect</key>
                <string>{{0,899},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trash2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{0,947},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>button1.png</string>
            <key>size</key>
            <string>{42,989}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11e57070782a1f681093f1527ac356a7:56474923339e5a514e8b1a803e6feb9c:b99ab65727096da0bef75444716fb5b3$</string>
            <key>textureFileName</key>
            <string>button1.png</string>
        </dict>
    </dict>
</plist>
