<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Modern_UI_Style_1_48x48_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{324,177},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,66}</string>
                <key>textureRect</key>
                <string>{{120,102},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{60,0},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{81,0},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{192,102},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,42}</string>
                <key>spriteSourceSize</key>
                <string>{27,42}</string>
                <key>textureRect</key>
                <string>{{102,0},{27,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,42}</string>
                <key>spriteSourceSize</key>
                <string>{114,42}</string>
                <key>textureRect</key>
                <string>{{129,0},{114,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,48}</string>
                <key>spriteSourceSize</key>
                <string>{126,48}</string>
                <key>textureRect</key>
                <string>{{357,0},{126,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{264,48},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{156,177},{84,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{0,48},{84,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,78}</string>
                <key>spriteSourceSize</key>
                <string>{84,78}</string>
                <key>textureRect</key>
                <string>{{72,177},{84,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{240,177},{84,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,54}</string>
                <key>spriteSourceSize</key>
                <string>{135,54}</string>
                <key>textureRect</key>
                <string>{{318,48},{135,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,48}</string>
                <key>textureRect</key>
                <string>{{84,48},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,75}</string>
                <key>spriteSourceSize</key>
                <string>{72,75}</string>
                <key>textureRect</key>
                <string>{{390,102},{72,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,75}</string>
                <key>spriteSourceSize</key>
                <string>{72,75}</string>
                <key>textureRect</key>
                <string>{{0,177},{72,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,72}</string>
                <key>spriteSourceSize</key>
                <string>{66,72}</string>
                <key>textureRect</key>
                <string>{{324,102},{66,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,69}</string>
                <key>spriteSourceSize</key>
                <string>{66,69}</string>
                <key>textureRect</key>
                <string>{{258,102},{66,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,102},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{150,48},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{60,102},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,45}</string>
                <key>spriteSourceSize</key>
                <string>{48,45}</string>
                <key>textureRect</key>
                <string>{{243,0},{48,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,48}</string>
                <key>textureRect</key>
                <string>{{198,48},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,45}</string>
                <key>spriteSourceSize</key>
                <string>{66,45}</string>
                <key>textureRect</key>
                <string>{{291,0},{66,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{483,270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76f50ea0e2010085870a2651f1cb7ae4:b40705dbff44258860f54b33459ddeba:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
