<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Modern_UI_Style_1_32x32_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{35,297},{28,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Modern_UI_Style_1_32x32_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{67,290},{28,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Modern_UI_Style_1_32x32_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,62}</string>
                <key>textureRect</key>
                <string>{{1,201},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_32x32_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{93,290},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_32x32_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{105,252},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_32x32_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{1,265},{22,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Modern_UI_Style_1_32x32_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{35,265},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_32x32_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{1,290},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_32x32_89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{67,252},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,42}</string>
                <key>spriteSourceSize</key>
                <string>{72,42}</string>
                <key>textureRect</key>
                <string>{{1,45},{72,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,42}</string>
                <key>spriteSourceSize</key>
                <string>{72,42}</string>
                <key>textureRect</key>
                <string>{{1,89},{72,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,42}</string>
                <key>spriteSourceSize</key>
                <string>{114,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1,133},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Modern_UI_Style_1_48x48_75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,48}</string>
                <key>spriteSourceSize</key>
                <string>{126,48}</string>
                <key>textureRect</key>
                <string>{{75,45},{126,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{51,46}</string>
                <key>spriteSourceSize</key>
                <string>{69,64}</string>
                <key>textureRect</key>
                <string>{{67,204},{51,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorbar_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,21}</string>
                <key>spriteSourceSize</key>
                <string>{9,21}</string>
                <key>textureRect</key>
                <string>{{93,314},{9,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{53,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,37}</string>
                <key>textureRect</key>
                <string>{{69,173},{53,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI1.png</string>
            <key>size</key>
            <string>{124,327}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b512765cf8a59927d8f9358ccad62c29:f60076055d8a99ed94c80236d6a8bc40:5789e0bbaa1c47d16f43079c2c96dd77$</string>
            <key>textureFileName</key>
            <string>UI1.png</string>
        </dict>
    </dict>
</plist>
