<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_srw_free_character_1-3-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{44,53}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{44,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_srw_free_character_1-3-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{56,1},{44,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_srw_free_character_1-3-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{44,53}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{1,47},{44,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_srw_free_character_1-3-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{44,53}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{56,47},{44,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_srw_free_character_1-3-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{1,93},{44,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_srw_free_character_1-3-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{44,53}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{60,93},{44,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_srw_free_character_1-3-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{48,53}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{1,139},{48,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_srw_free_character_1-3-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,53}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{56,189},{48,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_srw_free_character_1-3-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,57}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{1,239},{48,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_srw_free_character_1-3-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,53}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{60,239},{48,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_srw_free_character_1-3-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{48,57}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{56,139},{48,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_srw_free_character_1-3-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{48,53}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{1,189},{48,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{114,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d26cf5303f7282a0d039fdfeb21e368b:4f67f20d4734ecaabc3f76b9697c7147:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
